body{
    padding: 0;
    margin: 0;
    z-index: -1;
    /* overflow: hidden; */
    /* background-color: red; */
}
.overall-container{
    /* 11880px */
    height: 11880px;
    /* height: 1283vh; */
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    /* z-index: -1; */
    /* background-color: aqua; */
}
/* Font Section */
/* 
font-family: brother-xs, sans-serif;
font-weight: 300;
font-style: normal;
*/
@font-face {
    font-family: GeosansLight;
    src: url(Assests/fonts/GeosansLight.ttf);
}



h1{
    font-family: brother-xs, sans-serif;
    font-weight: 300;
    font-style: normal;
}
h2{
   font-family: GeosansLight;
   font-weight: 300;
   font-style: normal;
}
p,a{
    font-family: brother-xs, sans-serif;
    font-weight: 300;
    font-style: normal;
}

canvas {
    display: block;
  }
.p5Canvas{
    width: 100% !important;
    height: 100% !important;
}



/* Sticky Nav Bar */
#sticky-menu{
    position: fixed;
    z-index: 10;
    width: 100%;
}
.sticky-nav-bar{
    overflow: hidden;
    background: rgba(237, 247, 248, 1);
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#sticky-mylinks{
    margin: 0 0 0 30px;
}
#sticky-mylinks a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}
#logo-alone{
    width: 60px;
    aspect-ratio: 1/1;
    margin-left: 60px;
}
#logo-alone-link{
    height: 60px;
}
#return-top-div{
    position: fixed;
    z-index: 15;
    left: 92%;
    width: 50px; 
    top: 85%;
    border-radius: 50%;
}
#return-top-button{
    border-radius: 50%;
    display: none;
    background: none;
    border: none;
}
#return-top-svg{
    width: 5vw;
    aspect-ratio: 1/1;
}





/* Section 1 CSS */
.section-1{
    position: relative;
    display:  inline-block;
    /* overflow: hidden; */
    height: 9.091%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.section-1::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, #3B8EA5 100%);
}
.hero-image{
    height: 99%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 80%;
    /* bottom: 10rem; */
}
#scroll-circle{
    position: absolute;
    width: 12.5vw;
    aspect-ratio: 1/1;
    /* bottom: 25rem; */
    top: 70%;
    right: 7%;
    z-index: 1;
}
#logo-rect{
    position: relative;
    float: left;
    z-index: 2;
    /* border-radius: 25px; */
    bottom: 40rem;
    right: 2rem;
    width: 60%;
    height: 23vw;
    background-color: rgba(253,252,253,0.65);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

#logo-animation{
    /* margin: 0 auto; */
    /* vertical-align: center; */
    width: 20vw;
    height: 20vw;
    /* border: 1px green solid; */
   margin-left: 50px;
}
#main-logo-text {
    width: 60%;
}
#main-logo-text h1{
    font-size: 4vw;
    margin: 0;
    color: #3B8EA5;
    line-height: 100%;
}
#main-logo-text h2{
    font-size: 2.5vw;
    margin: 2vh 0 0 0;
    color: #5AB87C;
}



#main-logo-img{
    height: 80%;
    width: 80%; 
    /* Change the width to % not auto due to screensizing */
    margin: 2.3rem 6rem;
    float: right;
}
/* Section 2 CSS */
.section-2{
    height: 9.091%;
    width: auto;
    /* border: 2px black solid; */
    background: #3B8DA5;
}
/* TODO:  */
#circle-group{
    position: absolute;
    z-index: 4;
    left: 53vw;
    top: 9.5%;
    margin: 0 6rem 0 0;
    /* bottom: 30rem;    */
    max-width: 1000px;
    width: 45%;
}
#report-placeholder{
    width: 100%;

}
#report-img-link{
    width: 20%;
    position: absolute;
    left: 46%;
    top: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    color: black;
}
#text-group{
    z-index: 3;
    margin: 0 0 0 10vw;
    padding: 8rem 0 0 0;
    width: 58%;
}
#text-group h1{
    z-index: 3;
    color: #EEF8F9;
    font-size: 4vw;
    width: 100%;
    margin: 0;
    line-height: 100%;
}
#text-group h2{
    color: #EEF8F9;
    font-size: 2vw;
    padding-top: 2rem;
}



/* Section 3 CSS */
.section-3{
    height: 9.091%;
    width: 100%;
    position: relative;
    /* border: 2px orange solid; */
    /* overflow: hidden; */
}
#flex-container{
    /* position: relative;
    bottom: 15.6rem ; */
    gap: 0px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px green solid; */
    /* flex-wrap: wrap; */
}
.main-text-box{
    width: 40%;
    height: 100%;
    /* height: 100%; */
    /* border: 2px black solid; */
    display: flex;
    justify-content: center;
    margin-left: 5vw;
}
#text-container1{
    margin: auto;
    width: 75%;
    /* height: 70%; */
}
#text-container1 h1{
    text-align: center;
    font-size: 4vw;
    /* text-decoration: underline; */
    margin: 0 0 5vh 0;
}
#text-container1 p{
    font-size: 1.25vw;
    background: #A5d6b1;
    /* border-radius: 100px; */
    padding: 2em 1.5em;
    color: #171210;
    margin: 0;
}

#animation1{
    width: 55%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    /* padding-left: -5.2vw; */
    height: 40%;
    margin-top: 8vw;
    /* border: 2px red solid; */
}
#animation1-text{
    margin-left: -15.5vw;
    margin-top: 10.5vw;
}
#animation1-text h1{
    font-size: 2.5vw;
    color: #4e3f36;
}
#animation1-text h2{
    font-size: 1.5vw;
    color: #b09779;
}

/* TODO: 
    Add more useful code comments*/
#small-light-brown-circle{
    position: absolute;
    z-index: 5;
    width: 26vw;
    aspect-ratio: 1/1;
    bottom: -30vh;
    left: 84vw;
    /* border: 1px black solid; */
}
/* Section 4 CSS */
.section-4{
    height: 9.091%;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* overflow-y:visible; */
}

.backdrop-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#communities-text{
    position: relative;
    z-index: 2;
    float: right;
    background: rgba(59,142,165,0.77);
    width: 60%;
    bottom: 40rem;
    left: 10rem;
    padding: 1vw 9rem 1vw 1vw;
}
#communities-text p{
    margin: auto;
    color: #EEF8F9;
    font-size: 3vw;
    text-align: center;
    padding: 0 1em 0 0;
    line-height: 100%;
}

/* TODO: */
#light-green-circle{
    position: absolute;
    z-index: 1;
    width: 46vw;
    bottom: 70vh;
    right: 75%;
}


/* Section 5 CSS */
.section-5{
    height: 9.091%;
    width: 100%;
    position: relative;
    z-index: 1 ;
    /* bottom: 300px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    background: #EDF7F8;
    /* padding-top: 5rem; */
    /* border: 1px red solid; */
}
#section-5-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    position: relative;
    z-index: 1;
    height: 100%;
    gap: 3vw;
    /* right: 30rem; */
    align-items: center;
}
#section-5-text{
    position: relative;
    /* z-index: 1; */
    aspect-ratio: 1/1;
    height: 55%;

    display: flex;
    align-items: center;
}
#section-5-text p{
    width: 100%;
    /* text-align: center; */
    font-size: 20px;

}
#graphic-section1{
    position: relative;
    /* z-index: 100; */
    margin: auto 0;
    width: auto;
    height: 65%;
    /* background: #9CD9EB; */
    /* left: 4rem; */
    display: flex;
    align-items: center;
}
#graphic-dataVis-container{
    width: 40vw;
    height: 20vw;
}
/* Section-6 CSS */
.sections-example{
    height: 9.091%;
    width: 100%;
    position: relative;
    /* bottom: 300px; */
    background: #EDF7F8;
}

.examples-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    height: calc(100% - 2rem);
    /* margin: 2rem 2rem 0 2rem; */
    padding: 2rem 0 0 0;
}
.example-text-container{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: 4;
    width: 50%;
    height: calc(100% - 6.5em);
    margin-top: 6.5em;
    padding-left: 4em;
}
.title-container{
    height: 25%;
}
.title-container h1{
    width: 70%;
    padding-left:2vw ;
    font-size: 3vw;
    z-index: 4;
}
.desc-container{
    height: 100%;

    overflow: hidden;
}
.desc-container-text{
    font-size: 1vw;
    /* padding: 1.5em 1.5em 0 1.5em; */
    padding-left: 2vw ;
    margin: 0;


}

.example-text-container-alt{
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 50%;
    height: calc(100% - 6.5em);
    margin: 6.5rem 0;
    padding-right: 6rem;
}
.title-container-alt{
    height: 25%;
}
.title-container-alt h1{
    position: relative;
    float: right;
    text-align: right; 
    width: 70%;
    /* padding: 2rem; */
    padding-right: 2vw;
    font-size: 3vw;
}
.desc-container-alt{
    height: 100%;
    overflow: hidden;
}
.desc-container-text-alt{
    font-size: 1.1vw;
    margin: 0;
    padding-right: 2vw;
    border-radius: 25px;
}
.example-img-container{
    width: 50%;
    height: 90%;
    position: relative;
    top: 10%;
    border-radius: 25px;
    /* object-fit: cover; */
}
.example-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 25px; */
}


#example-green-circle{
    position: absolute;
    z-index: 1;
    width: 46vw;
    left: 75%;
    bottom: -40vh;
}
#example-brown-circle{
    position: absolute;
    z-index: 1;
    width: 46vw;
    left: -20%;
    /* top: 55vh; */
    bottom: -55vh;
}
#small-light-green-circle{
    position: absolute;
    z-index: 1;
    width: 26vw;
    aspect-ratio: 1/1;
    left: 85%;
    bottom: -25%;
}






/* Section 9 CSS */
.section-9{
    height: 9.091%;
    width: 100%;
    position: relative;
    background: #3B8EA5;
    /* bottom: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-9 h1{
    color: #EDF7F8;;
}
#map{
    width: 80%;
    height: 80%;
    background: #EDF7F8;
    text-align: center;
    z-index: 3;
}

/* Section 10 */
.section-10{
    height: 9.091%;
    width: 100%;
    position: relative;
    background: #EDF7F8;
    /* bottom: 300px; */
}
.section-10 h1{
    margin: 0;
    font-size: 3vw;
    text-align: center;
    padding: 3rem 0 3rem 0;
    color: #3B8DA5;
}
.type-container{
    height: calc(100% - 134px);
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#img-desc-container{
    width: 45%;
    height: 80%;
    /* border: 1px black solid; */
}
#focal-image{
    width: 60%;
    aspect-ratio: 1/1;
    /* border-radius: 50%; */
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#nbs-animation{
    width: 21vw;
    height: 21vw;
    margin: 0 auto 2vh auto;
    
}


#focal-container{
    width: 80%;
    margin: auto;
    /* padding-left: 7rem ; */
}
#focal-desc{
    font-size: 1vw;
}
#focal-heading{
    margin-bottom: 1rem;
    padding: 0;
    font-size: 2.1vw;
    color: black;
}
#icon-list{
    position: relative;
    right: 3rem;
    width: 25%;
    height: 95%;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    /* gap: 1rem; */
}
#icon-list h1{
    color: black;
}
.icon-containers{
    z-index: 2;
    max-height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 1vw;
}
.icon-imgs{
    width: 21%;
    aspect-ratio: 1/1;
}
.icon-containers h1{
    margin: auto 0;
    padding: 0;
    font-size: 1.3vw;
    width: 50%;
    text-align: left;
}

/* Section 11 CSS */
.section-11{
    height: 9.091%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0);
    /* bottom: 300px; */
}
.img-container{
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: -1;
}
#back-drop-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}
#contact-container{
    background: rgba(0,0,0,0);
    z-index: 3;
    width: 100%;
    height: 100%;
}

#info-container{
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 40%;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* background: rebeccapurple; */
}
#column-1{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 5vw 0 0 5vw;
    color: #EDF7F8;
}
#column-2{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 5vw 0 0 5vw;
    color: #EDF7F8;
}
.contact-columns h2{
    font-size: 2.1vw;
    margin: 1rem 0;
}
.contact-columns p{
    font-size: 1.6vw;
    margin: 1rem;
    color: #EDF7F8; 
}
.contact-columns a{
    font-size: 1.6vw;
    margin: 1rem;
    color: #EDF7F8; 
}
#column-3{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 5vw 0 0 5vw;
    color: #EDF7F8; 
}
#column-3 form{
    margin-left: 1vw;
    border-bottom: 2px solid #EDF7F8;
    width: 70%;
}
#column-3 input[type=text], input[type=email]{
    width: 80%;
    background: rgba(0,0,0,0);
    border: #EDF7F8 1px solid !important;
    color: #A5D6B1;
    font-size: 30px;
}
#column-3 input[type=submit]{
    background-color: rgba(0,0,0,0);
    color: #EDF7F8;
    font-size: 30px;
    position: relative;
    float: right;
}
#column-3 p{
    width: 70%;
}
#column-3 .button:hover{
    background-color: #2E687C !important;
}
label{
    font-family: brother-xs, sans-serif;
    font-weight: 300;
    font-style: normal;
}
#socials{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    /* height: 10%; */
    margin-left: 3.3vw;
}
.social-icons{
    height: 10%;
    aspect-ratio: 1/1;
}
#nbs-tag{
    position: absolute;
    bottom: 0;
    z-index: 4;
    height: 20%;
    width: 100%;
    /* border: 1px rebeccapurple solid; */
    display: flex;
    flex-direction: column;
}
#nbs-tag p{
    font-size: 1.3vw;
    color: #EDF7F8;
    margin: 1vw 4rem;
}
#backdrop-svg {
    position: absolute;
    z-index: 1;
    bottom: -1%;
    /* width: 105%; */
    height: 80%;
    /* max-height: 80%; */
}


#form-svg{
    position: absolute;
    bottom: 0;
}

/* Different Pages Banner CSS*/

.banner img{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.title-rect{
    position: relative;
    float: right;
    z-index: 2;
    bottom: 27vw;
    width: 50%;
    height: 15vw;
    background-color: rgba(253,252,253,0.65);
    display: flex;
    align-items: center;
}
.title-rect h1{
    font-size: 4vw;
    width: 80%;
    color: #3B8EA5;
    margin: 0 0 0 4vw;
    font-family: brother-xs, sans-serif;
    font-weight: 200;
    font-style: normal;
}
.text-container{
    height: 40%;
    margin: 3vh 0 0 0;
}
.text-section{
    position: relative;
    width: 30%;
    left: 15vw;
    /* float: left; */
}
.text-section h1{
    font-size: 2.5vw;
    color: #3B8EA5;
    margin-bottom: 0;
}
.text-section p{
    font-size: 1vw;
}

.alt-scroll-circle{
    position: absolute;
    width: 5vw;
    aspect-ratio: 1/1;
    /* bottom: 25rem; */
    /* top: 65%; */
    top: 33vw;
    right: 5%;
    z-index: 1;
}











/* Scrollama CSS */
.red{
    background: red;
}

.will-animate{
    visibility: hidden;
}


.enter-left{
    visibility: visible;
    animation: left 2s 1;  
}

.enter-right{
    visibility: visible;
    animation: right 2s 1; 
}
.enter-main{
    visibility: visible;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: report 3s 1;
}
.big-circle{
    visibility: visible;
    animation: big-circle 2s 1;
}
.dark-green{
    /* visibility: visible; */
    animation: dark-green-circle 1.5s 1;
}
.light-green{
    animation: light-green-circle 1.5s 1;
}



/* Animation */
@keyframes left {
    from{
        transform: translateX(-40%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes right {
    from{
        /* opacity: 0; */
        transform: translateX(50%);
    }
    to{
        /* opacity: 1; */
        transform: translateX(0);
    }
}
@keyframes report {
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes big-circle {
    from{
        opacity: 0;
    }   
    to{
        opacity: 0.83;
    }    
}

@keyframes dark-green-circle {
    from{
        transform: translate(300px, 0px);
        /* transform: translateY(100%); */
        /* transform: translateY(20%); */
        opacity: 0;
    }   
    to{
        transform: translate(0px, 532.541px);
        /* transform: translateY(0); */
        opacity: 0.74;
    }
}
@keyframes light-green-circle {
    from{
        opacity: 0;
        transform: translate(0px, 500px);
    }
    to{
        opacity: 1;
        transform: translate(524.352px, 0px);
    }
}