body{
    padding: 0;
    margin: 0;
    /* background-color: red; */
}
.overall-container{
    height: 11880px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
    /* background-color: aqua; */
}
/* Font Section */
/* 
font-family: brother-xs, sans-serif;
font-weight: 300;
font-style: normal;
*/
@font-face {
    font-family: GeosansLight;
    src: url(Assests/fonts/GeosansLight.ttf);
}


h1{
    font-family: brother-xs, sans-serif;
    font-weight: 300;
    font-style: normal;
}
h2{
   font-family: GeosansLight; 
}
p,a{
    font-family: brother-xs, sans-serif;
    font-weight: 300;
    font-style: normal;
}






/* Sticky Nav Bar */
#sticky-menu{
    position: fixed;
    z-index: 10;
    width: 100%;
}
.sticky-nav-bar{
    overflow: hidden;
    background: rgba(237, 247, 248, 1);
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#sticky-mylinks{
    margin: 0 0 0 30px;
}
#sticky-mylinks a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}
#logo-alone{
    width: 60px;
    aspect-ratio: 1/1;
    margin-left: 30px;
}
#return-top-div{
    position: fixed;
    z-index: 15;
    left: 92%;
    width: 50px; 
    top: 85%;
    border-radius: 50%;
}
#return-top-button{
    border-radius: 50%;
    display: none;
    background: none;
    border: none;
}





/* Section 1 CSS */
.section-1{
    position: relative;
    display:  inline-block;
    /* overflow: hidden; */
    height: 9.091%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.section-1::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, #3B8EA5 100%);
}
.hero-image{
    height: 99%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 80%;
    /* bottom: 10rem; */
}
.scroll-circle{
    position: relative;
    float: right;
    bottom: 25rem;
    right: 15rem;
    z-index: 1;
    /* top: 500px; */
}
#logo-rect{
    position: relative;
    float: left;
    z-index: 2;
    /* border-radius: 25px; */
    bottom: 40rem;
    right: 2rem;
    width: 60%;
    height: 40%;
    background-color: rgba(253,252,253,0.65);
}
#main-logo-img{
    height: 80%;
    width: 80%; 
    /* Change the width to % not auto due to screensizing */
    margin: 2.3rem 6rem;
    float: right;
}
/* Section 2 CSS */
.section-2{
    height: 9.091%;
    width: auto;
    /* border: 2px black solid; */
    background: #3B8DA5;
}
/* TODO:  */
#circle-group{
    position: absolute;
    z-index: 4;
    left: 54%;
    /* bottom: 100px */
    top: 140%;
    margin: 0 6rem 0 0;
    /* bottom: 30rem;    */
    width: 45%;
    height: 76%;
}
#text-group{
    position: relative;
    z-index: 3;
    margin: 0 0 0 10rem;
    padding: 8rem 0 0 0;
    width: 58%;
}
#text-group h1{
    position: relative;
    z-index: 3;
    color: #EEF8F9;
    font-size: 4em;
    width: 100%;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
}
#text-group h2{
    color: #EEF8F9;
    font-size: 40px;
    padding-top: 2rem;
}

/* Section 3 CSS */
.section-3{
    height: 9.091%;
    width: 100%;
    /* border: 2px orange solid; */
}
#flex-container{
    position: relative;
    bottom: 15.6rem ;
    gap: 0px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px green solid; */
    /* flex-wrap: wrap; */
}
.main-text-box{
    width: 60%;
    height: 100%;
    /* height: 100%; */
    /* border: 2px black solid; */
    display: flex;
    justify-content: center;
}
#text-container1{
    margin: auto;
    width: 55%;
    height: 70%;
}
#text-container1 h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
#text-container1 p{
    font-size: 2vw;
    background: #3B8EA5;
    /* border-radius: 100px; */
    padding: 2em 2.5em;
    color: #EEF8F9;
}

#animation1{
    width: 40%;
    /* height: 100%; */
    /* border: 2px red solid; */
}
/* TODO: 
    Add more useful code comments*/
#dashed-circle{
    position: relative;
    z-index: 5;
    float: right;
    overflow: hidden;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 250px;
    left: 200px;
}

/* Section 4 CSS */
.section-4{
    height: 9.091%;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* border: 1px black solid;    */
    bottom: 505px; 
    /* display: inline-block; */
    /* border: 2px black solid; */
}

.backdrop-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
#communities-text{
    position: relative;
    z-index: 2;
    float: right;
    background: rgba(59,142,165,0.77);
    width: 60%;
    height: 25%;
    bottom: 40rem;
    left: 10rem;
    /* border-radius: 100px; */
    padding: 2em 10rem 2em 2em;
}
#communities-text p{
    margin: auto;
    color: #EEF8F9;
    font-size: 58px;
    text-align: center;
    padding: 0 2rem 0 2rem;
}

/* TODO: */
#light-green-circle{
    position: absolute;
    z-index: 1;
    width: 900px;
    bottom: 45rem;
    right: 75%;
}


/* Section 5 CSS */
.section-5{
    height: 9.091%;
    width: 100%;
    position: relative;
    z-index: 1 ;
    bottom: 31.56rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    background: #EDF7F8;
    /* padding-top: 5rem; */
    /* border: 1px red solid; */
}
#section-5-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    position: relative;
    z-index: 1;
    /* right: 30rem; */
}
#section-5-circle{
    position: relative;
    /* z-index: 1; */
    border-radius: 50%;
    background-color: #3B8EA5;
    aspect-ratio: 1/1;
    height: 80%;
    margin: auto 0;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-5-circle p{
    width: 60%;
    text-align: center;
    font-size: 20px;

}
#graphic-section1{
    position: relative;
    z-index: 100;
    margin: auto 0;
    width: 30%;
    height: 65%;
    background: #9CD9EB;
    left: 4rem;
}

/* Section-6 CSS */
.sections-example{
    height: 9.091%;
    width: 100%;
    position: relative;
    bottom: 31.56rem;
    background: #EDF7F8;
    /* border: 1px black solid; */
}
#example-green-circle{
    position: absolute;
    z-index: 1;
    width: 900px;
    left: 80%;
    bottom: -40%;
}
#example-brown-circle{
    position: absolute;
    z-index: 1;
    width: 900px;
    left: -20%;
    top: 55%;
}
#green-dashed-circle{
    position: absolute;
    z-index: 1;
    width: 500px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 85%;
    bottom: -25%;
}
.examples-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    height: calc(100% - 2rem);
    /* margin: 2rem 2rem 0 2rem; */
    padding: 2rem 0 0 0;
}
.example-text-container{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: 4;
    width: 50%;
    height: 80%;
    margin: 6.5rem 0;
    padding-left: 6rem;
}.title-container{
    height: 25%;
}
.title-container h1{
    /* background: #3B8EA5; */
    /* text-align: center; */
    width: 70%;
    margin: 2rem 0;
    padding: 2rem;
    font-size: 60px;
    border-radius: 25px;
    z-index: 4;
}
.desc-container{

    height: 100%;
}
.desc-container-text{
    /* background: #3B8EA5; */
    height: calc(100% - 1.5rem);
    overflow: hidden;
    font-size: 20px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin: 0;
    border-radius: 25px;

}

.example-text-container-alt{
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 50%;
    height: 90%;
    margin: 6.5rem 0;
    padding-right: 6rem;
}
.title-container-alt{
    height: 25%;
}
.title-container-alt h1{
    position: relative;
    float: right;
    /* background: #3B8EA5; */
    text-align: right; 
    width: 70%;
    margin: 2rem 0 ;
    padding: 2rem;
    font-size: 60px;
    border-radius: 25px;
}
.desc-container-alt{
    height: 100%;
}
.desc-container-text-alt{
    /* background: #3B8EA5; */
    font-size: 20px;
    padding: 1.5rem;
    margin: 0;
    border-radius: 25px;
}
.example-img-container{
    width: 50%;
    height: 90%;
    position: relative;
    top: 10%;
    border-radius: 25px;
    /* object-fit: cover; */
}
.example-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 25px; */
}
/* Section 9 CSS */
.section-9{
    height: 9.091%;
    width: 100%;
    position: relative;
    background: #3B8EA5;
    bottom: 31.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#interactive-map{
    /* margin: auto; */
    width: 80%;
    height: 80%;
    background: #EDF7F8;
    text-align: center;
    z-index: 3;
}
.section-10{
    height: 9.091%;
    width: 100%;
    position: relative;
    background: #EDF7F8;
    bottom: 31.56rem;
}
.section-10 h1{
    margin: 0;
    text-align: center;
    padding: 3rem 0 3rem 0;
    color: #3B8DA5;
}
.type-container{
    height: calc(100% - 134px);
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#img-desc-container{
    width: 40%;
    height: 80%;
    /* border: 1px black solid; */
}
#focal-image{
    width: 60%;
    aspect-ratio: 1/1;
    /* border-radius: 50%; */
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#focal-container{
    width: 80%;
    margin: auto;
    /* padding-left: 7rem ; */
}
#focal-desc{
    font-size: 18px;
}
#focal-heading{
    margin-bottom: 1rem;
    padding: 0;
    font-size: 40px;
    color: black;
}
#icon-list{
    position: relative;
    right: 3rem;
    width: 30%;
    height: 95%;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
#icon-list h1{
    color: black;
}
.icon-containers{
    z-index: 10;
    height: 12%;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* .icon-containers img{
    width: 20%;
} */
.icon-imgs{
    width: 100px;
    height: 100px;
}
.icon-containers h1{
    margin: auto 0;
    padding: 0;
    font-size: 25px;
    width: 50%;
}

/* Section 11 CSS */
.section-11{
    height: 9.091%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0);
    bottom: 31.56rem;
}
.img-container{
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: -1;
}
#back-drop-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}
#contact-container{
    background: rgba(0,0,0,0);
    z-index: 3;
    width: 100%;
    height: 100%;
}
#backdrop-svg {
    position: absolute;
    bottom: 0;
    width: 105%;
    height: 80%;
    /* max-height: 80%; */
}
#info-container{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 40%;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* background: rebeccapurple; */
}
#column-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0 0 5rem;
    color: #EDF7F8;
}
#column-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0 0 5rem;
    color: #EDF7F8;
}
.contact-columns h2{
    font-size: 40px;
    margin: 1rem 0;
}
.contact-columns p{
    font-size: 30px;
    margin: 1rem;
}
#column-3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0 0 5rem;
    color: #EDF7F8; 
}
#column-3 form{
    margin-left: 1rem;
    border-bottom: 2px solid #EDF7F8;
    width: 70%;
}
#column-3 input[type=text]{
    width: 80%;
    background: rgba(0,0,0,0);
    border: none;
    color: #A5D6B1;
    font-size: 30px;
}
#column-3 input[type=submit], input[type=email]{
    background-color: rgba(0,0,0,0);
    border: none;
    color: #EDF7F8;
    font-size: 30px;
    position: relative;
    float: right;
}
#column-3 p{
    width: 70%;
}
#socials{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 10%;
    margin-left: 1rem;
}
.social-icons{
    height: 10%;
    aspect-ratio: 1/1;
}
#nbs-tag{
    position: absolute;
    bottom: 0;
    z-index: 4;
    height: 10%;
    width: 100%;
}
#nbs-tag p{
    font-size: 25px;
    color: #EDF7F8;
    margin: 2rem 4rem;
}
#backdrop-svg {
    position: absolute;
    bottom: 0;
    width: 105%;
    height: 80%;
    /* max-height: 80%; */
}


#form-svg{
    position: absolute;
    bottom: 0;
    width: 1930px;
    height: 800px;
}